/* Estilo para el contenedor principal */
.demoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg?download=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Barra de navegación */
.navbar {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-20-1_33761d6d.jpeg?download=true");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 10px 20px;
}

/* Estilo para el título */
.text-center {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 4em;
    color: #fafe02;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
}

/* Estilo para la imagen de error */
.imagenDemo {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    margin: 3vh 0;
}

/* Estilo para el grupo que contiene la imagen y la información detallada */
.grupo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para la información detallada */
.informacionDetallada {
    background-color: #f9f9f9;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 3vh 0;
}

/* Estilo para la lista */
ul {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
}

/* Estilo para cada elemento de la lista */
ul li {
    margin-bottom: 1vh;
    font-size: 1.1em;
    line-height: 1.5;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
}

/* Estilos específicos para home.js */
.iconStarWars {
    width: 20vh;
    margin: 2vh auto;
}

.favoritos {
    margin: 2vh auto;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Estilos para los botones en la tarjeta */
.botonesCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.saberMas {
    flex: 1;
    margin-right: 1rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.likes {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/* Estilo para el título de la tarjeta */
.card-title {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
}

/* Ajuste para las tarjetas en home.js */
.card-group {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 2vh;
}

/* Ajuste para el contenedor de tarjetas en home.js */
.homeContainer {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg?download=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Botón de prueba */
.probar {
    margin: 2vh auto;
    width: 20%;
    height: auto;
    padding: 1vh;
}

/* Estilo para los títulos principales */
.titulosPrincipales {
    color: #fafe02;
    margin: 2vh;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
.textoConInformacion{
    background-color: #f9f9f9;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 3vh 0;
}